@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #7b2cd3, #2cb3d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

body, html, .App, #root, .outer {
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  padding-top: 5vh;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 350px;
  margin: auto;
  color:white;
  background-color: rgba(34, 35, 58, 0.8);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 30px 30px 30px;
  border-radius: 15px;
  transition: all .3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>Image {
  padding: 7px 14px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;